.box-1 {
  width: 200px;
  height: 200px;
  background: red;
  margin-top: 20px;
}

.box-2 {
  width: 200px;
  height: 200px;
  background: green;
  margin-top: 20px;
}

.box-3 {
  width: 200px;
  height: 200px;
  background: yellow;
  margin-top: 20px;
}